input {
  border: none;
  border-bottom: 2px solid blue;
  width: 250px;
  height: 30px;
  font-size: 20px;
}

button {
  background-color: lightgrey;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px 14px;
}

label {
  font-size: 15px;
}

form {
  display: inline-block;
}

#inputField {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}

#nextButton {
  position: absolute;
  right: 600px;
}

#backButton {
  position: absolute;
  left: 600px;
}

#submitButton {
  position: absolute;
  right: 600px;
}
